@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');



    #bubble0{
   opacity: 0.85;
   cursor:pointer;

  }

  #bubble1{
    
       opacity: 0.85;

   cursor:pointer;

  }

  #bubble2{
  
      opacity: 0.85;

   cursor:pointer;
  }

    #bubble3{
   
       opacity: 0.85;

   cursor:pointer;
  }



  #bubble4{
  
      opacity: 0.85;
      
   cursor:pointer;
  }


@media only screen and (max-width: 600px){


    #bubble0{
   width: 30%;
   transition: width 2s;
   opacity: 0.85;

  }

  #bubble1{
    width: 40%;
      transition: width 2s;
       opacity: 0.85;

  }

  #bubble2{
   width: 30%;
     transition: width 2s;
      opacity: 0.85;
  }

    #bubble3{
    width: 40%;
      transition: width 2s;
       opacity: 0.85;
  }



  #bubble4{
   width: 30%;
     transition: width 2s;
      opacity: 0.85;
  }


}

