  
@media only screen and (max-width: 600px){


    #bubble0{
   width: 30%;
   transition: width 2s;

  }

  #bubble1{
    width: 40%;
      transition: width 2s;

  }

  #bubble2{
   width: 30%;
     transition: width 2s;
  }

    #bubble3{
    width: 40%;
      transition: width 2s;
  }



  #bubble4{
   width: 30%;
     transition: width 2s;
  }


}

