@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@media only screen and (max-width: 600px){


    #bubble0{
   width: 30%;
   transition: width 2s;
   opacity: 0.9;

  }

  #bubble1{
    width: 40%;
      transition: width 2s;
       opacity: 0.9;

  }

  #bubble2{
   width: 30%;
     transition: width 2s;
      opacity: 0.9;
  }

    #bubble3{
    width: 40%;
      transition: width 2s;
       opacity: 0.9;
  }



  #bubble4{
   width: 30%;
     transition: width 2s;
      opacity: 0.9;
  }


}

