@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');



.corner{
	float: right;
	width: 10px;
	height: 10px;
	transition: all 1s;
	border-bottom-left-radius: 180px;
}
.aboutLink{
	position: fixed;
	top:15%;
	right: 5%;
 	color: #909090 ;
 	transition: 1s;
 	font-family: 'Varela Round';
	font-size: 18px;
}

.aboutLink:hover + .corner{ 
	width: 180px;
	height: 180px;
    color: white ;
    background-color: #6CCECB; 
     }

 .aboutLink:hover{
 	color: white ;
 	transition: 1s;

 }    



.logo{
	width: auto;
	height: 60px;
	padding-left: 5%;
	padding-top: 5%;
	opacity: 0.6;
	transition: opacity 1s;

}


.logo:hover{
	opacity: 1;
	transition: opacity 1s;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
}


.container{
display: grid;
position: fixed;
bottom:0;
top:0;
grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto ; 
  grid-template-areas: 
      " n n"
      " c b"
      ;

     margin: 50px;
     background-color: white;
      box-shadow: 2px 2px 20px 10px #efefef;

     

}



.bubblemenu{
grid-area: b;
//background-color: red;

}

.navbar{
grid-area: n;
//background-color: blue;
height: 100px;
}

.content{
grid-area: c;
//background-color: yellow;
padding :10%;
height:100%;
}

.content h1{
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 50px;
	margin-bottom: 10px;
	color: #4A4A4A ;
}

.content h3{
	font-family: 'Baloo Bhaijaan', cursive;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	margin-top: 0px;
	color: #909090;

}


@media only screen and (max-width: 600px) {

	.aboutLink{
		top:5%;
	}

	body{
		background-color:white;
		transition: background-color 3s;
	}
	.container{
		 margin: 0px;
     position: relative;
      box-shadow: none;
      transition: box-shadow 2s  ,margin 2s;
     
	grid-template-columns: 1fr ;
	  grid-template-rows: auto auto auto; 
	  grid-template-areas: 
	      " n "
	      " c " 
	      " b "
	      ;

	}

	.navbar{
		height: 80px;
		padding-left: 5%;
	}
	.bubblemenu{
		height: 300px;
	}

	.content{

		  padding-top: 5%;

	}

	.content h1{
		font-size: 30px;
		margin-bottom: 8px;
	}

	.content h3{
		font-size: 16px;
	}




}